/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
  --default-font: 'Poppins', sans-serif;
}

* {
  font-family: var(--default-font);
}

a {
  text-decoration: none;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  font-weight: 700;
  font-size: 1.5rem;
}