/* CSS Reset */
@import url('./reset.css');

/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
  --default-font: 'Poppins', sans-serif;
  --primary-color: #2374ee;
  --primary-color-dark: #063852;
  --hero-bg-color: #ebf2ff;
  --grey-color: #9ea3ae;
  --accent-color: #ffb700;
}

* {
  font-family: var(--default-font);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 25px;
  border: none;
  padding: 1rem 2rem;
  background: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.button--primary {
  background-color: var(--primary-color);
  color: white;
}

nav {
  display: flex;
  gap: 1rem;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: var(--hero-bg-color);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-text {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-color-dark);
}

/* Hero styles */
.hero__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5rem 0;
  background-color: var(--hero-bg-color);
}

.hero__top h1 {
  font-size: 4rem;
  line-height: 1.1;
}

.hero__content {
  display: grid;
  gap: 2rem;
  padding: 5rem 0 5rem 5rem;
  color: var(--primary-color-dark);
}

.hero__content span {
  color: var(--primary-color);
}

.hero__image {
  grid-column: span 2 / span 2;
  position: relative;
}

.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
}

.hero__buttons span {
  color: var(--primary-color-dark);
}

.hero__bottom {
  padding: 10rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.hero__left {
  display: grid;
  gap: 2rem;
  max-width: 480px;
}

.hero__left h2 {
  color: var(--primary-color-dark);
  font-size: 2.5rem;
}

.hero__left p {
  color: var(--grey-color);
}

.hero__highlights {
  display: flex;
  gap: 3rem;
}

.hero__highlight {
  display: flex;
  gap: 1rem;
}

.hero__highlight h3 {
  color: var(--primary-color);
}

.hero__highlight p {
  color: var(--primary-color-dark);
}

.hero__right {
  background-color: #9ea3ae;
  border-radius: 1rem;
}
